@media screen and (min-width: 375px) and (max-width: 1023px) {

body {
        margin: 0;
        font-family: Arial, sans-serif;
}      

/* Header */

#header {
    align-items: center;
    justify-content: center;
}

.icon {
    width: 300px;
    height: 126px;
}

/* Options Bar */

#optionsBar div :not(#ini){
    display: none;
}


/* Slider */

.slider {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;

}

.mobile-slide {
  height: 400px;
  width: 300px;

  border-radius: 10px;


  display: flex;
  flex-flow: column;

  box-shadow: -6px 6px 7px 0px #00000040;

  margin-bottom: 10px;
  margin-top: 0;
}

.slide-img {
  width: 100%;
  height: 300px;
  border-radius: 10px 10px 0 0;

  background-image: url("./Pictures/Rectangle 1.png");
  background-position: center;
}

.mobile-slide h3 {
  margin: 20px;
}

.mobile-slide p {
  margin: 20px;
}

.mobile-slide span {
  color: #5AA5DC;
}

/* Slider Bottoms */

.navigation-manual {
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding-top: 1rem;
}

.slide-button {
  width: 20px;
  height: 20px;

  background-color: #D9D9D9;

  border-radius: 50%;
  border: solid 1px #00470F;

  cursor: pointer;
}

.checked {
  background-color: #3E9027;
  box-shadow: 0px 4px 4px 0px #00000040;
}

/* Middle News */

#middle-news {
  display: flex;
  flex-flow: column;
}

.card {
  width: 350px;
  height: 500px;

  display: flex;
  flex-flow: column;

  margin-bottom: 2rem;

  border: solid 20px #ffffff;
  padding: 15px 0 15px 0;

  border-radius: 10px 10px 10px 10px;
}

.img-card {
  width: 100%;
  height: 230px;
}

.img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 10px 10px 0 0;
}

.tittle-card {
  width: auto;
  margin: 0;
  border-radius: 0;
}

.text-card {
  width: auto;
  border-radius: 0 0 10px 10px;
}

/* Green Separator */

.green-separator {
  height: auto;
  padding: 10px;

}

.green-separator div {
  margin-top: 0;
  width: 80%;
  padding-bottom: 1rem;

  text-align: center;

}

.green-separator h1 {
  color: #ffffff;
  text-shadow: none;

}

.green-separator p {
  width: 80%;
  margin-bottom: 1rem;



}

}

