#preloader {
    background: #ffffff url(./Pictures/Desktop\ -\ 47.png) center;

    transition-duration: 8s;

    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

    opacity: 1%;
}