#preloader {
    background: #ffffff url(./Pictures/Desktop\ -\ 47.png) center;

    transition-duration: 5s;

    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}

.inActive {
    opacity: 1%;
}

/* EN CONSTRUCCION */

#preloader span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}