/* * {
    outline: solid 1px;
} */

.contact-top-body {
    display: flex;
    flex-flow: column;

    justify-content: center;
    align-items: center;
    
}

.contact-top-body h1 {
    margin: 1em;
}

h1 {
    text-shadow: 0px 2px 4px #00000080;
}

.contact-map-container {

    display: flex;

    justify-content: space-between;
    background-color: var(--verdeOscuro);
    color: #ffffff;

    width: 1020px;
}

.map-card {

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.direction {

    background-color: var(--verdeOscuro);
    width: 1020px;
    height: 6em;

    color: #ffffff;

    font-weight: 700;

    border-radius: 0 0 10px 10px;
}

.direction p {
    margin-top: 1em;
    padding-left: 8em;
}

.contact-top-body > p  {

    color: var(--verdeOscuro);
    font-weight: 600;

    width: 1044px;
    height: 44px;
}


.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1073px;
    height: 250px;

    border-radius: 10px;
    opacity: 0.30000001192092896px;

    box-shadow: -8px 0px 4px 0px #00000059, 0px 8px 4px 0px #00000059, 8px 4px 4px 0px #00000040;

}

.contact-links h1 {
    color: var(--verdeOscuro);
    font-weight: 800;

}

.contact-links-card {
    display: flex;
    flex-flow: column;
    margin: 1em;
}

.contact-links-card div {
    display: flex;
    align-items: center;
}

.contact-links-card div div {
    color: #6E6E6E;
    font-weight: 500;
    font-size: 20px;
    margin: 1em;
}

.wa-vsg {
    width: 36px;
    height: 36px;
}

.phone-vsg {
    width: 36px;
    height: 36px;
}

.contact-bottom-body {
    height: calc(400px + 500px);
    width: 100%;

    position: relative;
}

.contact-bottom-body > div:nth-child(1) {
    height: 400px;
    background-image: url(/Pictures/Rectangle\ 124.png);
    background-size: cover;
}

.contact-bottom-body > div:nth-child(2) {
    height: 500px;
    background-color: var(--bordo);
}

.contact-form-card {
    width: 1070px;
    height: 594px;

    background-color: #ffffff;
    
    border-radius: 10px;
    border: solid 1px;

    position: absolute;
    z-index: 1;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-flow: column;
    align-items: center;
}

.contact-form-card p {
    font-size: 30px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;

    text-shadow: 0px 2px 4px #00000040;

    margin-right: auto;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 5px;

}

.contact-form-card > div {
    content: '';
    background-color: var(--verdeOscuro);
    width: 90%;
    height: 1px;
    margin-right: auto;
    margin-left: 20px;


}

form {
    display: flex;
    flex-flow: column;

    width: 100%;
}

form div {
    margin: 30px;
}

form div:nth-child(3) {
    display: flex;

    justify-content: space-between;
    padding: 3px;
}

input {
    height: 54px;
    border-radius: 10px;
    border: 1.5px solid #00470F;
    background-color: #F5F4F3;
    margin: 5px;
}

input::placeholder {
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
}

textarea::placeholder {
    padding: 15px;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;

}

#nombre {
    width: 486px;
}

#provincia {
    width: 486px;
}

#email {
    width: 486px;
}

#localidad {
    width: 225px;
}

#cdp {
    width: 225px;
}

#phone {
    width: 486px;
}

#mensaje {
    width: 486px;
    height: 140px;

    border-radius: 10px;
    border: 1.5px solid #00470F;
    background-color: #F5F4F3;
}

#contact-form-btn {
    all: unset;

    background-color: var(--bordo);
    color: #ffffff;
    border: none;

    border-radius: 20px;

    width: 180px;
    height: 36px;

    box-shadow: 0px 4px 4px 0px #00000040;

    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;

    margin-left: auto;
    margin-right: 50px;


}

.green-separator p {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

}

@media screen and (min-width: 1023px) {
    .mobile-contact-top-body {
        display: none;
    }

    .mobile-contact-form {
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 1023px) {

    .desktop-contact-top-body {
        display: none;
    }

    .contact-top-body h1 {

        margin-left: 0;
        margin-right: 0;

    }

    .contact-map-container {
        flex-flow: column;
    }

    .contact-map-container {
        width: auto;
    }

    .direction {
        width: auto;
    }

    .direction p {
        padding: 1em;
        overflow-wrap: break-word;
    }

    .contact-top-body h1 {
        text-align: center;
    }

    .contact-top-body > p {
        width: auto;
        height: auto;
        margin: 1rem;
    }

    .contact-links {
        width: 90%;
        height: auto;
        flex-flow: column;
    }

    .contact-links h1 {
        text-shadow: none;
        margin-top: 0;
    }

    .contact-bottom-body {
        height: calc(calc(400px + 300px));
    }

    .contact-bottom-body > div:nth-child(2) {
        height: 300px;
    }

    .desktop-contact-form {
        display: none;
    }

    .contact-form-card {
        width: 90%;
        height: 450px;
    }

    .contact-form-card > div {

        height: 1px;
    }

    form div {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    #nombre {
        width: 90%;
    }

    #email {
        width: 90%;
    }

    #phone {
        width: 90%;
    }

    #provincia {
        width: 90%;
    }

    #localidad {
        width: 90%;
    }

    #cdp {
        width: 90%;
    }

    #mensaje {
        width: 90%;
        height: 60%;
    }

    form div {
        margin: 0;
    }

    form div:nth-child(3){
        flex-flow: column;
        height: 300px;
        justify-content: space-around;
    }

    #contact-form-btn {
        margin-right: 0;
    }

    .nextButton {
        background-color: var(--bordo);
        color: #ffffff;
        border: none;
        border-radius: 20px;
        width: 180px;
        height: 3rem;
        box-shadow: 0px 4px 4px 0px #00000040;
        text-align: center;
        margin-left: auto;
        margin-right: 1em;
        margin-top: 1rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nextButton p {
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;

        margin: 0;

    }

    input {
        margin-top: 1rem;
    }

    .contact-form-card-invisible{
        display: none;
    }

    #contact-form-card-invisible{
        display: none;
    }

    form div:nth-child(3) {
        display: flex;
    }
}
