#preloader {
    background: url(/Pictures/Desktop\ -\ Blanco.png) no-repeat;
    background-size: cover;

    transition-duration: 2s;

    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;

    transition-timing-function: ease-in;
    border: 0;
    margin: 0;
    padding: 0;

}

.inActive {
    opacity: 1%;
}

#preloaderLogo {
    background: url(/Pictures/Desktop\ -\ 47.png) center;
    background-size: cover;

    transition-duration: 1s;
    transition-timing-function: ease-in;

    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}

/* EN CONSTRUCCION */


#preloader span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

