.leading-brands {
    margin-top: 1em;
    margin-bottom: calc(1em/2);

    text-align: center;
    text-shadow: 0px 4px 4px #00000040;

}

.green-slider-divisor {

    content: '';
    width: 100%;
    height: 20px;
    background-color: var(--verdeOscuro);
}

.green-slider-divisor-bottom {
    box-shadow: 0px 10px 4px 0px #00000040;

}

.portfolio-body {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column;
}

.portfolio-title {

    background-color: #E4312F;
    color: #ffffff;

    width: 1075px;
    height: 72px;
    border-radius: 10px;

    font-size: 32px;
    font-weight: 800;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1em;

    box-shadow: 0px 9px 4px 0px #00000040;


}

.portfolio-father-elements {

    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column;
}

.portfolio-elements {
    
    display: flex;

    justify-content: space-around;
    align-items: center;

    width: 1080px;
    height: 234px;
    border-radius: 20px;


    box-shadow: 9px -9px 17px 0px #00000040, -9px 9px 17px 0px #00000040;
    
    margin: 2em;

    position: relative;

}

.fff {
    width: 800px;
    height: 330px;


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 9px -9px 17px 0px #00000040, -9px 9px 17px 0px #00000040;
    background-color: white;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 5;
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0;

    background-color: #EAE9E8;

    width: 44px;
    height: 32px;
    border-radius: 0px 20px 0px 0px;
    
    cursor: pointer;
}


.x1,.x2 {
    position: absolute;
    width: 40%;
    height: 3px;
    background-color: var(--verdeOscuro);
    top: 50%;
    left: 30%;
    transform: translateY(-50%) rotate(-45deg);

}

.x2 {
    transform: translateY(-50%) rotate(45deg);
}


.fff-img {
    width: 450px;
    height: 300px;
    border-radius: 20px;

    background-size: 110% 110%;
    background-position: center;

    box-shadow: 0px 4px 4px 0px #00000040, 4px 0px 4px 0px #00000040;
    margin-right: -5px;
    margin-left: 10px;

}

.fff-content {
    display: flex;
    flex-flow: column;
    align-items: center;


}

.fff-content-title {
    width: 100%;
    height: 45px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--verdeOscuro);
    box-shadow: 0px 4px 4px 0px #00000040;

    font-size: 32px;
    font-weight: 800;

}

.fff-content-text {

    width: 400px;

    white-space: break-spaces;
    padding: 1em;
}

.portfolio-elements-img {

    width: 660px;
    height: 171px;
    border-radius: 20px;

    background-size: cover;
    
}

.portfolio-buttons {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 330px;
    height: 54px;
    border-radius: 10px;

    box-shadow: 0px 6px 4px 0px #00000040, 6px 0px 4px 0px #00000040;

    font-size: 20px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0em;

    margin: 1em;
    cursor: pointer;

    user-select: none;

}

.green-portfolio-buttons {

    color: var(--verdeOscuro);
    transition: 400ms;


}

.green-portfolio-buttons:hover {

    color: #ffffff;
    background-color: var(--verdeClaro);
    transform: scale(1.01);
    transition: 400ms;

}

.red-portfolio-buttons {

    color: var(--bordo);
    transition: 400ms;

}

.red-portfolio-buttons:hover {

    color: #ffffff;
    background-color: var(--rojo);
    transform: scale(1.01);
    transition: 400ms;

}

/* IMAGENES */

#portfolio-elements-img-1 {

    background-image: url(/Rodamientos-Norte/Pictures/Productos/rodamientos1.png);

}

#portfolio-elements-img-2 {

    background-image: url(/Rodamientos-Norte/Pictures/Productos/rodamientos2.png);

}

#portfolio-elements-img-3 {

    background-image: url(/Rodamientos-Norte/Pictures/Productos/rodamientos3.png);

}

#portfolio-elements-img-4 {

    background-image: url(/Rodamientos-Norte/Pictures/Productos/rodamientos4.png);

}

#portfolio-elements-img-5 {

    background-image: url(/Rodamientos-Norte/Pictures/Productos/rodamientos5.png);

}

#portfolio-elements-img-6 {

    background-image: url(/Rodamientos-Norte/Pictures/Productos/rodamientos6.png);

}

#portfolio-elements-img-7 {

    background-image: url(/Rodamientos-Norte/Pictures/Productos/rodamientos7.png);

}

#portfolio-elements-img-8 {

    background-image: url(/Rodamientos-Norte/Pictures/Productos/rodamientos8.png);

}

#portfolio-elements-img-9 {

    background-image: url(/Rodamientos-Norte/Pictures/Productos/rodamientos9.png);

}

#portfolio-elements-img-10 {

    background-image: url(/Rodamientos-Norte/Pictures/Productos/rodamientos10.png);

}

#portfolio-elements-img-11 {

    background-image: url(/Rodamientos-Norte/Pictures/Productos/rodamientos11.png);

}


/* SLIDER */

#product-slider-body {

    /* height: 250px; */
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;

    /* margin-top: 15px; */

}

#product-slider-track {

    display: flex;
    width: calc(150px * 24);

    animation: scroll 40s linear infinite;
}

.product-slider {

    width: 158px;
    height: 158px;
    border-radius: 10px;

    display: flex;
    align-items: center;

    padding: 10px;

    perspective: 100px;

}

.product-slider img {
    width: 100%;
    transition: transform 1s;
}

.product-slider img:hover {
    transform: translateZ(20px);
}

/* GRADIENT SHADOWS */

#product-slider-body::before,
#product-slider-body::after {

    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100% );
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;

}

#product-slider-body::before {
    left: 0;
    top: 0;
}

#product-slider-body::after {
    right: 0;
    top:0;
    transform: rotatez(180deg);
}

@keyframes scroll {

    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-150px * 12));
    }
    
}


@media screen and (min-width: 375px) and (max-width: 1023px) {

    .portfolio-body {
        width: 100%;
    }

    .portfolio-title {
        width: 90%;
        height: 6em;
        overflow-wrap: break-word;

        font-family: Roboto;
        font-size: 24px;
        font-weight: 800;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;

        text-shadow: 0px 4px 4px #00000040;

    }

    .portfolio-elements {
        flex-flow: column-reverse;
        width: 90%;
        height: auto;

        margin: 1em;
    }

    .portfolio-elements-img {
        width: 100%;
        height: 155px;
    }

    .fff {
        width: 100%;
        height: 400px;

        flex-flow: column;
    }

    .closeBtn {
        background-color: transparent;
    }

    .fff-img {
        width: 100%;
        height: 155px;
        border-radius: 20px 20px 0 0;

        background-size: 110%;

        margin: 0;
    }

    .fff-content {
        height: auto;
    }

    .fff-content-title {
        font-size: 25px;
    }

    .fff-content-text {
        width: auto;
    }

}