/* Btn 1 */
.fff-img1{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title1:before {
    content: 'Rodamientos Automotriz';
}
.fff-txt1:before {
    content: 'Los Rodamientos de Automotriz que ofrecemos son la elección ideal para mantener en movimiento vehículos de manera suave y eficiente. Diseñados para soportar cargas específicas y condiciones de funcionamiento exigentes, estos rodamientos garantizan un rendimiento confiable en cada viaje. Con una construcción robusta y materiales de alta calidad, nuestros rodamientos de automotriz son una pieza clave en la seguridad y el rendimiento de su vehículo.';
}
/* Btn 2 */
.fff-img2{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title2:before {
    content: 'Rodamientos Agrícolas';
}
.fff-txt2:before {
    content: 'Los Rodamientos Agrícolas desempeñan un papel esencial en el sector agrícola, donde la confiabilidad y la durabilidad son cruciales. Nuestros rodamientos agrícolas están diseñados para resistir las condiciones rigurosas del campo, desde el polvo y la suciedad hasta las cargas pesadas. Proporcionan un funcionamiento suave de maquinaria agrícola, garantizando una mayor eficiencia y productividad en todas las operaciones.    ';
}
/* Btn 3 */
.fff-img3{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title3:before {
    content: 'Rodamientos Industriales';
}
.fff-txt3:before {
    content: 'En entornos industriales, la confiabilidad de los equipos es fundamental. Nuestros Rodamientos Industriales están diseñados para resistir ambientes desafiantes, incluyendo altas cargas y velocidades. Ofrecen una vida útil prolongada y un funcionamiento eficiente, lo que se traduce en menos tiempo de inactividad y un mayor rendimiento para su negocio. \a   Cada uno de estos productos ha sido cuidadosamente seleccionado y fabricado para satisfacer las necesidades específicas de su sector. Si deseas obtener más detalles sobre alguno de estos productos o explorar otras opciones, no dudes en hacer clic en el contenedor correspondiente para obtener una descripción más detallada. Estoy aquí para proporcionar información adicional y ayudarte en lo que necesites.';
}
/* Btn 4 */
.fff-img4{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title4:before {
    content: 'Correas de Distribución';
}
.fff-txt4:before {
    content: 'Nuestras Correas de Distribución son componentes esenciales en el funcionamiento eficiente de motores y maquinaria. Estas correas garantizan una sincronización precisa entre las partes móviles del motor, lo que resulta en un rendimiento suave y una larga vida útil. Diseñadas con materiales resistentes al desgaste y tecnología de vanguardia, nuestras correas de distribución son la elección confiable para mantener motores en óptimo estado de funcionamiento.';
}
/* Btn 5 */
.fff-img5{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title5:before {
    content: 'Correas Trapezoidales';
}
.fff-txt5:before {
    content: 'Las Correas Trapezoidales son fundamentales en una variedad de aplicaciones industriales y de maquinaria. Ofrecen una transmisión de potencia eficiente y un rendimiento excepcional en sistemas de poleas y correas en V. Nuestras correas trapezoidales están fabricadas con precisión para garantizar una tensión adecuada y una resistencia al desgaste excepcional, lo que las convierte en una opción ideal para aplicaciones de alta exigencia.';
}
/* Btn 6 */
.fff-img6{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title6:before {
    content: 'Correas Poly-V';
}
.fff-txt6:before {
    content: 'Las Correas Poly-V son conocidas por su capacidad para transmitir potencia de manera efectiva en sistemas con múltiples canales. Su diseño permite una distribución uniforme de la carga, lo que resulta en una menor tensión y una mayor vida útil. Nuestras correas Poly-V son ideales para aplicaciones que requieren un rendimiento constante y una durabilidad excepcional, como sistemas de transmisión de vehículos y maquinaria industrial.';
}
/* Btn 7 */
.fff-img7{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title7:before {
    content: 'Tensores';
}
.fff-txt7:before {
    content: 'Los Tensores para Motores son componentes cruciales para mantener la tensión adecuada en las correas de distribución y las correas trapezoidales. Estos tensores están diseñados para asegurar que las correas permanezcan en su lugar y funcionen de manera eficiente, reduciendo el riesgo de deslizamiento o desgaste prematuro. Ofrecemos tensores de alta calidad que brindan confiabilidad y durabilidad, garantizando el rendimiento óptimo de su motor.    ';
}
/* Btn 8 */
.fff-img8{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title8:before {
    content: 'Kit de Distribución';
}
.fff-txt8:before {
    content: 'Nuestros Kits de Distribución son soluciones integrales que incluyen correas de distribución, tensores y otras piezas esenciales. Están diseñados para facilitar el reemplazo completo del sistema de distribución de su motor de manera eficiente y conveniente. Cada kit está cuidadosamente ensamblado para garantizar la compatibilidad y el rendimiento óptimo. Simplifique el mantenimiento de su motor con nuestros Kits de Distribución de alta calidad.';
}
/* Btn 9 */
.fff-img9{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title9:before {
    content: 'Bombas de Agua';
}
.fff-txt9:before {
    content: 'Las Bombas de Agua son componentes vitales en el enfriamiento eficiente de motores. Estas bombas están diseñadas para circular el líquido refrigerante a través del sistema de enfriamiento, evitando el sobrecalentamiento y asegurando un funcionamiento suave del motor. Ofrecemos bombas de agua de alta calidad diseñadas específicamente para motores, garantizando una refrigeración efectiva y una larga vida útil de su motor. \a Cada uno de estos productos se ha seleccionado cuidadosamente para garantizar un rendimiento confiable y duradero en aplicaciones de motores. Si deseas obtener más detalles sobre alguno de estos productos o explorar otras opciones, no dudes en hacer clic en el contenedor correspondiente para obtener una descripción más detallada. Estoy aquí para proporcionar información adicional y ayudarte en lo que necesites.';
}
/* Btn 10 */
.fff-img10{
    background-image: url();
}
.fff-title10:before {
    content: '';
}
.fff-txt10:before {
    content: '';
}
/* Btn 11 */
.fff-img11{
    background-image: url();
}
.fff-title11:before {
    content: '';
}
.fff-txt11:before {
    content: '';
}
/* Btn 12 */
.fff-img12{
    background-image: url();
}
.fff-title12:before {
    content: '';
}
.fff-txt12:before {
    content: '';
}
/* Btn 13 */
.fff-img13{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title13:before {
    content: 'Poleas de Fundición';
}
.fff-txt13:before {
    content: 'Nuestras Poleas de Fundición son componentes esenciales en sistemas de transmisión de potencia y elevación. Están fabricadas con fundición de alta calidad para resistir cargas pesadas y proporcionar un funcionamiento confiable. Estas poleas están diseñadas para trabajar en conjunto con correas y cadenas, garantizando un rendimiento suave y duradero en aplicaciones industriales y de maquinaria.';
}
/* Btn 14 */
.fff-img14{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title14:before {
    content: 'Discos Dentados    ';
}
.fff-txt14:before {
    content: 'Los Discos Dentados son piezas clave en sistemas de transmisión y engranajes. Están diseñados con precisión para proporcionar una conexión sólida y confiable entre componentes. Nuestros discos dentados están fabricados con materiales resistentes al desgaste y una atención meticulosa a los detalles para garantizar un funcionamiento sin problemas y una larga vida útil en una variedad de aplicaciones.    ';
}
/* Btn 15 */
.fff-img15{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title15:before {
    content: 'Discos Abrasivos';
}
.fff-txt15:before {
    content: 'Los Discos Abrasivos son herramientas esenciales para el desbaste, pulido y lijado en aplicaciones industriales y de construcción. Nuestros discos abrasivos están diseñados para ofrecer un rendimiento excepcional y una durabilidad sobresaliente. Ya sea que necesites eliminar material, suavizar superficies o pulir, nuestros discos abrasivos son la elección confiable para lograr resultados precisos y eficientes. \a   Cada uno de estos productos ha sido seleccionado y fabricado para cumplir con los estándares más altos de calidad y rendimiento en su aplicación específica. Si deseas obtener más detalles sobre alguno de estos productos o explorar otras opciones, no dudes en hacer clic en el contenedor correspondiente para obtener una descripción más detallada. Estoy aquí para proporcionar información adicional y ayudarte en lo que necesites.';
}
/* Btn 16 */
.fff-img16{
    background-image: url();
}
.fff-title16:before {
    content: '';
}
.fff-txt16:before {
    content: '';
}
/* Btn 17 */
.fff-img17{
    background-image: url();
}
.fff-title17:before {
    content: '';
}
.fff-txt17:before {
    content: '';
}
/* Btn 18 */
.fff-img18{
    background-image: url();
}
.fff-title18:before {
    content: '';
}
.fff-txt18:before {
    content: '';
}
/* Btn 19 */
.fff-img19{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title19:before {
    content: 'Grasas Industriales';
}
.fff-txt19:before {
    content: 'Las Grasas Industriales juegan un papel crucial en la lubricación de maquinaria y equipos en aplicaciones industriales. Están formuladas para resistir cargas pesadas, altas temperaturas y condiciones adversas. Nuestras grasas industriales ofrecen una lubricación confiable y duradera, prolongando la vida útil de tus equipos y reduciendo el desgaste.';
}
/* Btn 20 */
.fff-img20{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title20:before {
    content: 'Lubricantes Industriales';
}
.fff-txt20:before {
    content: 'Los Lubricantes Industriales son esenciales para garantizar el funcionamiento suave y eficiente de componentes y maquinaria en entornos industriales. Están diseñados para reducir la fricción, el desgaste y la corrosión. Nuestros lubricantes industriales son conocidos por su calidad y capacidad para mantener tus equipos en óptimo estado de funcionamiento.';
}
/* Btn 21 */
.fff-img21{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title21:before {
    content: 'Adhesivos Industriales';
}
.fff-txt21:before {
    content: 'Los Adhesivos Industriales desempeñan un papel fundamental en la unión de materiales en aplicaciones industriales y de construcción. Están formulados para proporcionar una unión sólida y duradera en una variedad de sustratos. Nuestros adhesivos industriales ofrecen una excelente adherencia y resistencia, garantizando resultados confiables en tus proyectos.\a  Cada uno de estos productos se ha desarrollado para cumplir con los estándares más altos de rendimiento y calidad en aplicaciones industriales diversas. Si deseas obtener más detalles sobre alguno de estos productos o explorar otras opciones, no dudes en hacer clic en el contenedor correspondiente para obtener una descripción más detallada. Estoy aquí para proporcionar información adicional y ayudarte en lo que necesites.';
}
/* Btn 22 */
.fff-img22{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title22:before {
    content: 'Retenes';
}
.fff-txt22:before {
    content: 'Los Retenes son componentes esenciales en sistemas de sellado y prevención de fugas en maquinaria y equipos industriales. Están diseñados para mantener un sello hermético y prevenir la entrada de contaminantes o la pérdida de lubricantes. Nuestros retenes ofrecen un sellado confiable y duradero, asegurando el rendimiento óptimo de tus equipos.';
}
/* Btn 23 */
.fff-img23{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title23:before {
    content: 'Poli Packs';
}
.fff-txt23:before {
    content: 'Los Poli Packs son componentes versátiles utilizados en una variedad de aplicaciones de sellado y amortiguación. Están diseñados para ofrecer una resistencia excepcional al desgaste, al calor y a la abrasión. Nuestros Poli Packs son ideales para aplicaciones que requieren un sellado eficiente y una larga vida útil, como sistemas hidráulicos y neumáticos. /a   Cada uno de estos productos ha sido seleccionado y fabricado con precisión para cumplir con las necesidades específicas de sellado y amortiguación en diferentes aplicaciones. Si deseas obtener más detalles sobre alguno de estos productos o explorar otras opciones, no dudes en hacer clic en el contenedor correspondiente para obtener una descripción más detallada. Estoy aquí para proporcionar información adicional y ayudarte en lo que necesites.';
}
/* Btn 24 */
.fff-img24{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title24:before {
    content: 'O-Rings (Anillos en O)';
}
.fff-txt24:before {
    content: 'Los O-Rings, o anillos en O, son elementos de sellado en forma de anillo que se utilizan en una variedad de aplicaciones industriales. Están diseñados para proporcionar un sellado hermético en uniones y conexiones, evitando fugas de líquidos o gases. Nuestros O-Rings son conocidos por su calidad y capacidad para mantener la integridad de los sistemas.';
}
/* Btn 25 */
.fff-img25{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title25:before {
    content: 'Llantas Agrícolas';
}
.fff-txt25:before {
    content: 'Las Llantas Agrícolas desempeñan un papel crucial en la movilidad y el rendimiento de maquinaria agrícola. Están diseñadas para soportar cargas pesadas y condiciones adversas en el campo. Nuestras llantas agrícolas ofrecen durabilidad y confiabilidad, asegurando una excelente tracción y estabilidad en terrenos agrícolas variados.';
}
/* Btn 26 */
.fff-img26{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title26:before {
    content: 'Mazas Agrícolas';
}
.fff-txt26:before {
    content: 'Las Mazas Agrícolas son componentes esenciales en sistemas de ruedas y llantas agrícolas. Están diseñadas para proporcionar un soporte sólido y confiable a las llantas en aplicaciones agrícolas exigentes. Nuestras mazas agrícolas son conocidas por su resistencia y capacidad para soportar las cargas y el estrés de las operaciones agrícolas.';
}
/* Btn 27 */
.fff-img27{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title27:before {
    content: 'Elásticos Agrícolas';
}
.fff-txt27:before {
    content: 'Los Elásticos Agrícolas son componentes críticos en sistemas de suspensión de maquinaria agrícola. Están diseñados para absorber impactos y vibraciones, proporcionando una conducción suave y reduciendo el desgaste de los neumáticos. Nuestros elásticos agrícolas son conocidos por su durabilidad y capacidad para mejorar la comodidad y la eficiencia en el campo. \a  Cada uno de estos productos se ha desarrollado específicamente para cumplir con las rigurosas demandas de la agricultura y garantizar un rendimiento confiable en condiciones agrícolas desafiantes.';
}
/* Btn 28 */
.fff-img28{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title28:before {
    content: 'Cadenas Industriales';
}
.fff-txt28:before {
    content: 'Las Cadenas Industriales son elementos fundamentales en sistemas de transporte y transmisión de potencia en entornos industriales. Están diseñadas para soportar cargas pesadas y mantener un funcionamiento confiable en condiciones exigentes. Nuestras cadenas industriales ofrecen durabilidad y resistencia, asegurando una transmisión eficiente de fuerza y movimiento.';
}
/* Btn 29 */
.fff-img29{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title29:before {
    content: 'Cadenas Agrícolas';
}
.fff-txt29:before {
    content: 'Las Cadenas Agrícolas desempeñan un papel esencial en maquinaria utilizada en el campo. Están diseñadas para soportar el trabajo en condiciones difíciles y variadas, como la labranza y la recolección. Nuestras cadenas agrícolas son conocidas por su durabilidad y confiabilidad, garantizando un rendimiento óptimo en equipos agrícolas.';
}
/* Btn 30 */
.fff-img30{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title30:before {
    content: 'Cadenas de Maiceros';
}
.fff-txt30:before {
    content: 'Las Cadenas de Maiceros son componentes vitales en equipos utilizados en la cosecha y procesamiento de maíz. Están diseñadas para garantizar una alimentación eficiente y uniforme de la planta de maíz en la maquinaria. Nuestras cadenas de maiceros son resistentes y duraderas, asegurando un flujo continuo de la cosecha durante la operación.';
}
/* Btn 31 */
.fff-img31{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title31:before {
    content: 'Implementos Agrícolas';
}
.fff-txt31:before {
    content: 'Los Implementos Agrícolas son herramientas esenciales en la agricultura para realizar diversas tareas, desde la siembra hasta la cosecha. Están diseñados para aumentar la eficiencia y la productividad en el campo. Nuestros implementos agrícolas son conocidos por su calidad y durabilidad, ayudando a los agricultores a obtener los mejores resultados en sus operaciones.    ';
}
/* Btn 32 */
.fff-img32{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title32:before {
    content: 'Arandelas de Suplemento';
}
.fff-txt32:before {
    content: 'Las Arandelas de Suplemento son componentes esenciales en aplicaciones en las que se necesita ajustar o suplementar la altura o el espacio entre componentes. Están diseñadas para proporcionar un soporte adicional y garantizar un ajuste preciso en tus proyectos. Nuestras arandelas de suplemento son conocidas por su calidad y versatilidad en diversas aplicaciones.';
}
/* Btn 33 */
.fff-img33{
    background-image: url(/Rodamientos-Norte/Pictures/Productos/Cards/Rectangle\ 103.jpg);
}
.fff-title33:before {
    content: 'Herramientas Manuales';
}
.fff-txt33:before {
    content: 'Las Herramientas Manuales son compañeras indispensables en una amplia gama de trabajos, desde la reparación de maquinaria hasta la construcción. Están diseñadas para brindar comodidad, precisión y durabilidad. Nuestras herramientas manuales son apreciadas por su calidad y eficacia en el trabajo.';
}

